@import '../../../../scss/abstracts/mixins';

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  flex-direction: row;
  padding: 2.4rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 3.2rem;
  @include respond(tab-portrait) {
    flex-direction: column;
    text-align: center;
  }
  &__title {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    font-weight: normal;
  }
  &__amount {
    margin: 0;
    font-size: 4rem;
    font-weight: bold;
  }
  &__amount-description {
    margin: 0;
    font-size: 1.6rem;
  }
  &__content-wrapper {
    width: 100%;
    flex: 1;
    &.cta {
      flex: 0;
    }
    @include respond(tab-portrait) {
      &.cta {
        flex: 1;
      }
    }
  }
  &__transaction-button {
    display: block;
    width: 20rem;
    padding: 0.8rem;
    font-size: 1.76rem;
    font-weight: bold;
    margin-top: 1.6rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    @include respond(tab-portrait) {
      width: 100%;
    }
  }
}
