.section {
  box-sizing: border-box;
  background-color: white;
  width: 30rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3.2rem;
  &__icon {
    font-size: 8rem;
  }
  &__input {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1.6rem;
    label {
      font-weight: bold;
    }
    input {
      padding: 0.5rem;
      font-size: 1.92rem;
    }
  }
  &__remember-me {
    display: flex;
    label {
      margin-left: 0.4rem;
    }
  }
  &__submit-btn {
    display: block;
    width: 100%;
    padding: 0.8rem;
    font-size: 1.76rem;
    font-weight: bold;
    margin-top: 1.6rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
  }
  &__error-message {
    color: red;
  }
}
