@import '../../../scss/abstracts/mixins';

.banner {
  background-image: url('./bank-tree.jpeg');
  background-position: 0 -5rem;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40rem;
  background-position: 0% 33%;
  position: relative;
  @include respond(tab-portrait) {
    height: 30rem;
    background-position: 0% 0%;
  }
  &__content {
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 30rem;
    margin: 3.2rem;
    background: white;
    padding: 3.2rem;
    text-align: left;
    @include respond(tab-portrait) {
      position: relative;
      top: 8.2rem;
      left: 10%;
      width: 20rem;
      margin: 0 auto;
    }
  }
  &__content-subtitle {
    font-weight: bold;
    font-size: 2.4rem;
    margin: 0;
    @include respond(tab-portrait) {
      font-size: 1.6rem;
    }
  }
  &__content-text {
    margin-bottom: 0;
    font-size: 1.92rem;
    @include respond(tab-portrait) {
      font-size: 1.44rem;
    }
  }
}
